
.search_form {
    width: 100%;
    display: flex;
    align-items: center;
}

.search_input {
    flex: 1;
    border-color: #eee;
    border-width: 0.5px;
    outline: none;
    border-radius: 10px;
    height: 40px;
    border-style: solid;
    padding-left: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-right: 15px;
}

.search_input::placeholder {
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
}

.search_button {
    height: 35px;
    width: 80px;
    border: none;
    background-color: #307AFF;
    color: white;
    font-size: 14px;
    border-radius: 10px;
}

.search_list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-auto-flow: row;
    /* justify-items: center; */
}

.search_item_content {
    width: 100%;
    display: inline-block;
    border-width: 1px;
    border-color: #eee;
    border-style: solid;
}

.search_item_content_img {
    margin: 0px;
    padding: 0px;
    width: 56px;
    height: 56px;
}

.search_item_content_title {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: #333;
    font-size: 14px;
}