
.crop_home_notice {
    background-color: white;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.crop_home_notice_logo {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.crop_home_notice_line {
    background-color: #EBEDF0;
    width: 1px;
    height: 25px;
    margin-left: 10px;
}

