
.form_content {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-bottom: 20px;
}

.form_input {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0.5px;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    margin-right: 20px;
    color: #333;
    outline: none;
    font-size: 15px;
 
}

.form_input::placeholder {
    color: #ccc;
}

.form_submmit_button {
    width: 80px;
    height: 40px;
    color: white;
    background-color: #307AFF;
    border-color: #307AFF;
    border-radius: 15px;
    border: none;
    border-width: 0.5;
    outline: none;
    border-style: solid;
}

.list_content {
    /* display: inline-block; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 20px;
    padding-left: 20px;
    /* background-color: #307AFF; */
    font-size: 15px;
    color: #333;
}