
.crop_home_center_item {
    background-color: white;
    /* height: 128px; */
    border-radius: 6px;
    display: flex;
}

.crop_home_center_item_subitem {
    background-color: yellow;
    width: 33.3333%;
}

.crop_home_center_item_subitem_title {
    color: #323438;
    font-size: 16px;
    font-weight: bold;
    background-color: aqua;
    text-align: center;
}

.crop_home_center_item_subitem_subtitle {
    color: #A1A7B3;
    font-size: 12px;
    font-weight: normal;
    background-color: blue;
    text-align: center;
}