
.crop_item_tag {
    position: absolute;
    height: 32px;
    border-radius: 16px 16px 16px 0;
    border: 2px solid white;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    transform: scale(0.5);
    padding: 1px 8px 1px 8px;
}

.crop_item_img_tag {
    top: 0px;
    right: 0px;
    width: 43px;
    height: 43px;
    position: absolute;
}