
.crop_item_tag {
    position: absolute;
    height: 16px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}