
.crop_home_body {
    position: absolute;
    width: 92%;
    top: 125px;
    margin-left: 4%;
    margin-right: 4%;
}

.crop_home_item_title {
    margin-left: 15px;
    padding-top: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #323438;
}