
.crop_home_body {
    position: absolute;
    width: 90vw;
    top: 168px;
    margin: 0 5vw;
}

.crop_home_item_title {
    margin-left: 15px;
    padding-top: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #323438;
}

